<nav>
    <div class="menu-btn">
        <div class="menu-btn__burger">
        </div>
    </div>
    <!-- Bouton burger à définir -->
    <div>
        <i></i>
        <p>menu</p>
    </div>
    <div>
        <a href="#">Qui sommes-nous</a>
        <a href="#">Notre offre</a>
        <a href="#">Nos services</a>
        <a href="#">Suivre le projet</a>
        <div>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</nav>
