<nav class="menu">
    <!---BOUTON BURGER---->
    <div class="burger">
        <div class="menu-btn">
            <div class="menu-btn__burger">
            </div>
        </div>
        <p class="menu_text">menu</p>
    </div>

    <!---MENU OUVERT---->
    <div class="menu_ouvert" id="m_ouvert">
        <div>
            <ul class="menu_list">
				<li><a href="">Qui sommes-nous</a></li>
 				<li><a href="">Notre offre</a></li>
 				<li><a href="">Nos services</a></li>
 				<li><a href="">Suivre le projet</a></li>
			</ul>
            <div>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
</nav>
