<nav class="menu">
    <!-- BOUTON BURGER -->
    <div class="burger">
        <div class="menu-btn">
            <div class="menu-btn__burger">
            </div>
        </div>
        <p class="menu_text">menu</p>
    </div>

    <!-- MENU OUVERT -->
    <div class="menu_ouvert" id="m_ouvert">
        <div class="contenu_menu_ouvert">
            <p class="menu_title">TECH'ART</p>
            <ul class="menu_list">
                <img src="/assets/media/Line.svg" width="100%" alt="Ligne de séparation"/>
                <li><a id="btnQui" href="#qui">Qui sommes-nous</a></li>
                <img src="/assets/media/Line.svg" width="100%" alt="Ligne de séparation"/>
                 <li><a id="btnOffre" href="#offre">Notre offre</a></li>
                 <img src="/assets/media/Line.svg" width="100%" alt="Ligne de séparation"/>
                 <li><a id="btnService" href="#service">Nos services</a></li>
                 <img src="/assets/media/Line.svg" width="100%" alt="Ligne de séparation"/>
                 <li><a id="btnProjet" href="#projet">Suivre le projet</a></li>
                 <img src="/assets/media/Line.svg" width="100%" alt="Ligne de séparation"/>
                 <div class="social_media">
                    <a href="#"><img src="/assets/media/Twitter.svg" width="100%"/></a>
                    <a href="#"><img src="/assets/media/Facebook.svg" width="100%"/></i></a>
                    <a href="#"><img src="/assets/media/Insta.svg" width="100%"/></a>
                </div>
			</ul>
        </div>
    </div>
</nav>
