.fidelity {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    .top {
        display: flex;
    }
    h2{
        width: 250px;
        height: 89px;
        margin-left: 5%;
        align-self: center;
    }
    p {
        padding-bottom: 10%;
        padding-left: 5%;
        width: 100%;
    }
    img {
        padding-right: 3%;
        min-width: 140px;
        min-height: 212px;
    }
}