.fidelity {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    background: url(/assets/media/fidelity-line.svg) no-repeat;
    .top {
        display: flex;
    }
    h2{
        width: 250px;
        height: 75px;
        margin-left: 5%;
        align-self: center;
    }
    p {
        padding-bottom: 10%;
        padding-left: 5%;
        width: 100%;
    }
    .img_perso {
        padding-right: 3%;
        min-width: 140px;
        min-height: 212px;
    }  
}

@media only screen and (max-width: 378px) {
    .img_perso {
        display: none;
    }
}
@media only screen and (min-width: 379px) {
    .img_perso {
        display: initial;
    }
}