$bodyFont: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.offre {
  p {
    line-height: 1.8em;
  }

  font-family: $bodyFont;

  h2 {
    display: block;
    margin-bottom: 1em;
  }

  .paragraphe {
    display: block;
  }

  .saut-ligne {
    display: block;
  }

  .qui {
    margin: 10% 0% 0% 0%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    p {
      width: 100%;
    }
    svg {
      margin-bottom: -1px;
      width: 150px;
      height: auto;
      align-items: end;
    }
  }

  .quoi {
    display: flex;
    align-self: flex-end;
    text-align: right;
    justify-content: space-around;
    background-color: #ff96a0;
  
     /*.icone-2 {
      width: 180px;
      height: auto;
      padding-top: 20px;
      margin-bottom: -1px;
    }*/

   svg {
      width: 180px;
      height: auto;
     
      margin-bottom: -1px;
      align-items: flex-end;
    }

    h2 {
      padding-top: 1em;
    }

    p {
      justify-content: flex-end;
      align-self: flex-end;
      text-align: right;
      margin-left: 2em;
      
    }
  }

  .centrage {
    margin-right: 1rem;
  }
  .ou {
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    svg {
      margin: -2px 2em 0px 0px;
      width: 150px;
      height: auto;
    }
    p {
      margin-top: 1rem;
    }
  }

  .centrage-2 {
    margin-left: 1rem;
  }
}

