.recommandations {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;

    .recommandations-title {
        width: 100%;
        height: fit-content;
        position: relative;
        h2{

            width: 231px;
            height: 94px;
            align-self: flex-end;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 20px;
        }
    }
    
    .bottom {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        .img_perso {
            min-width: 136px;
            min-height: 207px;
            margin-bottom: -5px;
        }
    }
    p {
        align-self: flex-end;
        width: 278px;
    }
}
@media only screen and (max-width: 378px) {
    .img_perso {
        display: none;
    }
}
@media only screen and (min-width: 379px) {
    .img_perso {
        display: initial;
    }
}