.recommandations {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    background-image: url("assets/media/ligne-haut-recommandations.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    h2{
        width: 231px;
        height: 94px;
        align-self: flex-end;
    }
    .bottom {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        img {
            min-width: 136px;
            min-height: 207px;
            margin-bottom: -5px;
        }
    }
    p {
        align-self: flex-end;
        width: 278px;
    }
}