.recommandations {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    h2{
        width: 231px;
        height: 94px;
        // padding-left: 40%;
        align-self: flex-end;
    }
    .bottom {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
    }
    p {
        align-self: flex-end;
    }
}