/* Typography rules */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&family=Righteous&display=swap');
$bodyFont: 'Poppins', sans-serif;
$backgroundColor: #fdfffc;
$fontcolor: #000000;

h1 {
    font-family: 'Righteous', sans-serif;
    font-size: 36px;
    text-align: center;
    color: $fontcolor;
}

h2 {
    font-family: $bodyFont;
    font-size: 1.9em;
    font-style: italic;
    font-weight: 600;
    color: $fontcolor;
}
h3 {
    font-family: $bodyFont;
    font-size: 16px;
    color: $fontcolor;
}

p {
    font-family: $bodyFont;
    font-size: 1em;
    color: $fontcolor;
    line-height: 1.8em;

}

ul {
    line-height:180%;
}

body {
    background: $backgroundColor;
    color: $fontcolor;
    font-family: $bodyFont;
}