.vip {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    height: auto;
    width: 100%
}

.txt-boutique {
    display: hidden;
    width: auto;
    height: auto;
    object-fit: contain;
    
}

.txt-abonnement {
    display: hidden;
    width: auto;
    height: auto;
    object-fit: contain;
}

.tablette {
    display:hidden
    width: auto;
    height: auto;
    object-fit: contain;

}