.vip {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin: 50px, 10%;
}

.boutique {
    background-color: #FF96A0;
}

.txt-boutique {
    display: none;
    width: auto;
    height: auto;
    object-fit: contain;
}

p .boutique {
    padding: 0px, 10%;
}

.tablette {
    display:none;
    width: auto;
    height: auto;
    object-fit: contain;
}

.txt-abonnement {
    display: none;
    width: auto;
    height: auto;
    object-fit: contain;
}

p .abonnement {
    padding: 0px, 10%;
}