.vip {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%
}

.txt-boutique {
    display: none;
    width: auto;
    height: auto;
    object-fit: contain;
}

.txt-abonnement {
    display: none;
    width: auto;
    height: auto;
    object-fit: contain;
}

.tablette {
    display:none;
    width: auto;
    height: auto;
    object-fit: contain;

}