body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
  }

.vip {
    display: flex;
    justify-content: space-around;
    padding: 100px 100px;
    height: auto;
    width: 100%
}