<section class="captchat" id="captcha">
    <div class="captchat">
        <div class="captchat2">
            <p class="txtcapchat">CAPTCHA</p>
        </div>
        <div class="replayvolume">
            <img class="img" src="/assets/media/replay1.png" alt="replay">
            <img src="/assets/media/volume1.png" alt="volume">
        </div>
        <fieldset>
            <input class="captext" placeholder="Entrez le texte...">
        </fieldset>
        <div class="purplebox">
            <p class="blanc">Vérifier
            </p>
        </div>
    </div>
</section>