<section class="captcha hidden" id="captcha">
    <div class="captcha">
        <div class="captcha2">
            <p class="txtcaptcha">CAPTCHA</p>
        </div>
        <div class="replayvolume">
            <img class="img" src="/assets/media/replay1.png" alt="replay">
            <img src="/assets/media/volume1.png" alt="volume">
        </div>
        <fieldset>
            <input class="captext" placeholder="Entrez le texte...">
        </fieldset>
        <div class="purplebox" id="close-captcha-button">
            <p class="blanc">Vérifier
            </p>
        </div>
    </div>
</section>