<section class="cookies" id="cookies">
    <div class="croix"></div>
    <h2 class="title_cookies">Ce site web utilise des cookies</h2>
    <img src="assets/media/cookies.png" alt="Un cookie de face">
    <p class="text_cookies">
        Nous utilisons des cookies pour vous offrir la meilleure expérience possible. 
        Cliquez sur accepter pour continuer à magaziner ou pour en savoir plus sur notre politique en matière de cookies ici.
    </p>
    <button class="accepter">Accepter</button>
</section>