<div class="about">
    <div class="presentation">
        <h2>QU'EST-CE QUE TECH'ART</h2>
    <p>TECH'ART est un service de location de matériel artistique pensé pour vous. Louez en deux clics le matériel dont vous avez besoin pendant le confinement !<br> Grâce à la diversité de notre matériel, vous trouverez ce qui vous correspond : des tablettes
        graphiques aux pianos électroniques, en passant par des caméras professionnelles, vous n'en finirez jamais !</p>
    </div>
    <div class="list">
        <ul>
            <li>Partagez votre expérience et aidez la communauté !</li>
            <li>Découvrez et redécouvrez nos services à travers le temps.</li>
            <li>Accumulez des points et recevez d'incroyables avantages !</li>
        </ul>
    </div> 
</div>