<div class="about">
  <div class="presentation">
    <h2 id="qui">QU'EST-CE QUE TECH'ART</h2>
    <p class="margin">
      TECH'ART est un service de location de matériel artistique pensé pour
      vous. Louez en deux clics le matériel dont vous avez besoin pendant le
      confinement !<br />
      Grâce à la diversité de notre matériel, vous trouverez ce qui vous
      correspond : des tablettes graphiques aux pianos électroniques, en passant
      par des caméras professionnelles, vous n'en finirez jamais !
    </p>
  </div>
  <div class="list">
    <ul>
      <li>Partagez votre expérience et aidez la communauté !</li>
      <li class="espacement">
        Découvrez et redécouvrez nos services à travers le temps.
      </li>
      <li>Accumulez des points et recevez d'incroyables avantages !</li>
    </ul>
  </div>
  <svg width="100%" height="auto" viewBox="0 0 411 130" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M442 1C398.5 1 375.5 81.5 317 92.5C251.076 104.896 195.5 72 145.5 92.5C95.5 113 52.5 136 -8.5 125.5" stroke="#001427" stroke-width="2" vector-effect="non-scaling-stroke"/>
    </svg>    
</div>
