<h2>UN SYSTÈME DE BADGE</h2>
<div>
    <img src="" alt="" />
    <h3>Badge d'ancienneté</h3>
    <p>Il vous est attribué selon l’ancienneté du membre.<br> Trois niveaux de badge sont proposés : novice, avancé, expert.</p>
</div>
<div>
    <img src="" alt="" />
    <h3>Badge d'abonnement</h3>
    <p>Ce badge est réservé aux membres ayant souscrit à un abonnement</p>
</div>
<div>
    <img src="" alt="" />
    <h3>Tech'Amateur</h3>
    <p>Badge délivré aux clients ayant loué 5 articles.<br> Le Tech’Pro est attribué après 10 articles loués.<br> Le Tech’Ultim est attribué après 100 articles loués.</p>
</div>
<div>
    <img src="" alt="" />
    <h3>Tech'Musique</h3>
    <p>Badge délivré aux clients ayant loué au moins 5 articles de la catégorie "Musique".</p>
</div>
<div>
    <img src="" alt="" />
    <h3>Tech'Arts plastiques</h3>
    <p>Badge délivré aux clients ayant loué au moins 5 articles de la catégorie "Arts plastiques".</p>
</div>
<div>
    <img src="" alt="" />
    <h3>Tech'Audiovisuel</h3>
    <p>Badge délivré aux clients ayant loué au moins 5 articles de la catégorie "Audiovisuel".</p>
</div>