<div class="badges">
  <h2>UN SYSTÈME DE BADGE</h2>
  <div class="scroll-container">

    <div class="gradient-l"></div>
    <div class="gradient-r"></div>
    <div class='scroll-items'>
      <div class='badge-slide'>
        <img src="/assets/media/novice.png" alt="badge d'ancienneté" />
        <h3>Badge d'ancienneté</h3>
        <p>
          Il vous est attribué selon l’ancienneté du membre.<br/>
          Trois niveaux de badge sont proposés : novice, avancé, expert.
        </p>
      </div>
      
      
      <div class='badge-slide'>
        <img src="/assets/media/premium.png" alt="badge d'abonnement" />
        <h3>Badge d'abonnement</h3>
        <p>Ce badge est réservé aux membres ayant souscrit à un abonnement</p>
      </div>
      
      <div class='badge-slide'>
        <img src="/assets/media/5-etoiles.png" alt="badge amateur" />
        <h3>Tech'Amateur</h3>
        <p>
          Badge délivré aux clients ayant loué 5 articles.<br/>
          Le Tech’Pro est attribué après 10 articles loués.<br/>
          Le Tech’Ultim est attribué après 100 articles loués.
        </p>
      </div>
      
      <div class='badge-slide'>
        <img src="/assets/media/tech-musique.png" alt="badge tech'musique" />
        <h3>Tech'Musique</h3>
        <p>
          Badge délivré aux clients ayant loué au moins 5 articles de la catégorie
          "Musique".
        </p>
      </div>
      
      <div class="badge-slide">
        <img src="/assets/media/tech-arts-plastiques.png" alt="tech'art-plastique" />
        <h3>Tech'Arts plastiques</h3>
        <p>
          Badge délivré aux clients ayant loué au moins 5 articles de la catégorie
          "Arts plastiques".
        </p>
      </div>
      
      <div class='badge-slide audiovisuel'>
        <img src="/assets/media/tech-audiovisuel.png" alt="Badge audiovisuel" />
        <h3>Tech'Audio <br>-visuel <br> </h3>
        <p>
          Badge délivré aux clients ayant loué au moins 5 articles de la catégorie
          "Audiovisuel".
        </p>
      </div>
      <div class='badge-slide '>
        <img src="/assets/media/conseiller.png" alt="Badge conseillé" />
        <h3> Badge du Conseiller</h3>
        <p>
          Badge délivré aux clients actif dans les commentaires des articles.
        </p>
      </div>
      <div class='badge-slide last'>
        <img src="/assets/media/tech-audiovisuel.png" alt="Badge audiovisuel" />
        <h3>Tech'Audio <br>-visuel <br> </h3>
        <p>
          .
        </p>
      </div>
    </div>
  </div>
</div>