      <div class="bluediv">
        <div class="soustexte">
          <h1 class="h1">RESTEZ INFORMÉS DE L'AVANCEMENT DU PROJET</h1>
          <br>
          <p class="newsletter">Si vous souhaitez être informés de l’avancée du projet,
             vous pouvez vous inscrire à la newsletter en rentrant vos coordonnées ci-dessous.</p>
             <div class="boiteblanche1">
              <p class="renseignement">Prénom</p>
            </div>
            <div class="boiteblanche2">
              <p class="renseignement">Nom</p>
            </div>
        </div>
      </div>
