<section class="offre">
  <div class="qui">
    <h1>
      À QUI S’ADRESSE
       <span class= "saut-ligne"> TECH'ART</span>
    </h1>
    <span>1</span>
    <p class= "paragraphe">
     <br> Notre site s’adresse aux </br> étudiants en Art nécessitant <br>du matériel spécial.</br>
    </p>
  </div>
  <div class="quoi">
    <h1 class= "titre">EN QUOI CONSISTE <span class= "saut-ligne">NOTRE SITE</span> </h1>
    <span>2</span>
    <p class= "paragraphe">
      Il vous permet de louer du <br>matériel artistique à moindre </br> coût, et de le
      recevoir <br> directement chez vous. </br>
    </p>
  </div>
  <div class="ou">
    <h1 class= "titre">OÙ SONT LIVRÉS <span class= "saut-ligne">NOS PRODUITS </span></h1>
    <span>3</span>
    <p class= "paragraphe">
      Nos livraisons à domicile <br>sont pour le moment</br> réalisées à Bordeaux et<br> ses
      alentours.</br>
    </p>
  </div>
</section>
