<section class="offre">
  <div>
    <h1 class= "titre">
      À QUI S’ADRESSE
       <span> TECH'ART</span>
    </h1>
   
    <span>1</span>
    <p class= "paragraphe">
      Notre site s’adresse aux étudiants en Art nécessitant du matériel spécial.
    </p>
  </div>
  <div>
    <h1 class= "titre">EN QUOI CONSISTE NOTRE SITE</h1>
    <span>2</span>
    <p class= "paragraphe">
      Il vous permet de louer du matériel artistique à moindre coût, et de le
      recevoir directement chez vous.
    </p>
  </div>
  <div>
    <h1 class= "titre">OÙ SONT LIVRÉS NOS PRODUITS</h1>
    <span>3</span>
    <p class= "paragraphe">
      Nos livraisons à domicile sont pour le moment réalisées à Bordeaux et ses
      alentours.
    </p>
  </div>
</section>
