<section class="recommandations">

    <div class="ligne"></div>


    <h2>DES PRODUITS SELECTIONNÉS POUR VOUS</h2>
    <div class="bottom">
        <img src="assets/media/mec_cadeau.png" alt="Un personnage portant un cadeau">
        <p>
            Que vous soyez débutant,<br>professionnel, ou tout<br>simplement nouveau sur le<br>site, 
            des recommandations<br>pertinentes vous seront<br>affichées.
        </p>
    </div>

</section>

<!--    <img class="ligne-haut" 
    src="assets/media/ligne-haut-recommendations.svg" 
    alt="ligne-haut"
     />-->