<section class="recommandations">
    <div class="recommandations-title">
        <svg width="100%" height="auto" viewBox="0 0 411 229" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M417 1C392.712 43.6692 363.871 61.8747 324.403 61.8747C270.5 61.8747 206.5 27.5 155.906 57.3233C112.579 82.8636 125.5 148.577 87.5971 177.935C55.2134 203.018 25.8657 173.952 -5 228" stroke="#001427" stroke-width="2" vector-effect="non-scaling-stroke"/>
        </svg>        
        <h2>DES PRODUITS SELECTIONNÉS POUR VOUS</h2>
    </div>
    <div class="bottom">
        <img class="img_perso" src="assets/media/mec_cadeau.png" alt="Un personnage portant un cadeau">
        <p>
            Que vous soyez débutant,<br>professionnel, ou tout<br>simplement nouveau sur le<br>site, 
            des recommandations<br>pertinentes vous seront<br>affichées.
        </p>
    </div>

</section>