<body>
    <div class="vip">
        <img
        class="illustration-boutique"
        src="/assets/media/txt-boutique.png"
        alt="illustration-boutique"
        />
        <div class="boutique">
            <h2>
                BOUTIQUE 
                <br>
                FIDÉLITÉ
            </h2>
            <p>
                Dépensez vos points de fidélité 
                pour obtenir des récompenses, comme une 
                livraison gratuite ou des réductions.
            </p>
            <img src="/assets/media/icone-promos.png" alt="promos" class="promos">
        </div>
        <img
        class="tablette"
        src="/assets/media/tablette-hd.png"
        alt="tablette"
        />
        <div class="abonnement">
            <h2>
            ABONNEMENT
            </h2>
            <p>
                Un abonnement est disponible, 
                vous évitant de payer les frais de livraison et les cautions*. 
            </p>
            <img src="/assets/media/icone-cloche.png" alt="cloche" class="cloche">
        </div>
        <img
        class="illustration-abonnement"
        src="/assets/media/txt-abonnement.png"
        alt="illustration-abonnement"
        />
    </div>
</body>
</html>