<body>
    <div class="vip">
        <img
        class="txt-boutique"
        src="assets/media/txt-boutique.png"
        alt="txt-boutique"
        />
        <div class="boutique">
            <h2>
                BOUTIQUE FIDÉLITÉ
            </h2>
            <p>
                Dépensez vos points de fidélité 
                pour obtenir des récompenses, comme une 
                livraison gratuite ou des réductions.
            </p>
        
        </div>
        <img
        class="tablette"
        src="assets/media/tablette.png"
        alt="tablette"
        />
        <div class="abonnement">
            <h2>
            ABONNEMENT
            </h2>
            <p>
                Un abonnement est disponible, 
                vous évitant de payer les frais de livraison et les cautions*. 
            </p>
        
        </div>
        <img
        class="txt-abonnement"
        src="assets/media/txt-abonnement.png"
        alt="txt-abonnement"
        />
    </div>
</body>
</html>