<body>
    <link rel="stylesheet" href="_sass/vip.scss">
    <link rel="stylesheet" href="_sass/typo.scss">
    <div class="vip">
        <div class="boutique">
            <h1>
                BOUTIQUE FIDÉLITÉ
            </h1>
            <p>
                Dépensez vos points de fidélité 
                pour obtenir des récompenses, comme une 
                livraison gratuite ou des réductions.
            </p>
        
        </div>
        <img
        class="img"
        src="img/vip/tablette"
        alt="tablette"
        />
        <div class="abonnement">
            <h1>
                ABONNEMENT
            </h1>
            <p>
                Un abonnement est disponible, 
                vous évitant de payer les frais de livraison et les cautions*. 
            </p>
        
        </div>
    </div>
</body>
</html>