<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {% include commons/header.html %}
    {% include section/video.html %}
    {% include section/about.html %}
    {% include section/offre.html %}
    {% include section/fidelity.html %}
    {% include section/badges.html %}
    {% include section/recommandations.html %}
    {% include section/vip.html %}
    {% include section/newsletter.html %}
    {% include commons/footer.html %}
  </body>
</html>
