<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> ]]
  </head>
  <body>
    {% include section/menu.html %}
    {% include section/header.html %}
    {% include section/about.html %}
    {% include section/offre.html %}
    {% include section/fidelity.html %}
    {% include section/badges.html %}
    {% include section/recommandations.html %}
    {% include section/vip.html %}
    {% include section/newsletter.html %}
    {% include section/footer.html %}
  </body>
</html>